Connect4/target/
Connect4/out/
Connect4/dependency-reduced-pom.xml

# Ignore everything in connect4-image
Connect4/connect4-image/*

# Allow bin folder to be scanned
!Connect4/connect4-image/bin/

# Except the exe
!Connect4/connect4-image/bin/connect4.exe

